# Template .pylintrc file https://raw.githubusercontent.com/datawire/quark/master/.pylintrc

[MASTER]

ignore=venv/,

[BASIC]

# Reason of the good names:
# - _
#   often used as dummy variable during unpacking
# - e, ex
#   often used as the var name of exception caught by try..except

good-names=_,e,ex

include-naming-hint=yes

[SIMILARITIES]

min-similarity-lines=10

# Ignore imports when computing similarities
ignore-imports=yes

[DESIGN]

min-public-methods=0

max-parents=15

max-args=5

max-returns=7

[FORMAT]

max-line-length=119

[MESSAGES CONTROL]

# REMOVE: `unsubscriptable-object` generates false positives for python 3.9 and pylint==2.6.
#   https://github.com/PyCQA/pylint/pull/3890 - Expected to be fixed in the next version
#   Re-enable it when the issue is fixed.
disable=unsubscriptable-object
